<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>Programa</h1>
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
    <hr>
    <div id="app-2">
        <span v-bind:title="message">
            Mueva el mouse sobre mi
        </span>
    </div>
    <hr>
    <div id="app-3">
        <input type="checkbox" v-model="seen">
        <span v-if="seen">Ahora me ves</span>
    </div>
    <script src="index.js"></script>
</body>
</html>